.nav-brand:hover,
.nav-btn:hover {
	color: var(--color-accent);
	transform: translateY(-2px);
}

.nav-dropdown-item:hover {
	color: var(--color-background);
	background-color: var(--color-border);
}

.sheettrigger {
	z-index: 100000000;
}

.sheetitem:hover {
	color: var(--color-accent-foreground);
}